/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}



/* All above this is css reset */
:root {
  --background: #1E0B16;
  --accent: #F133A5;
  --text: #EFDEE8;
  --secondary: #270F19;
  --primary-button: #E595C5;
  --secondary-button: #8F155E;
}



body {
  background-color: var(--background);
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.0625rem;
}

.branding {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.nav-name {
  font-size: 24px;
  margin-left: 2rem;
  font-weight: 600;
  height: 40px;
  text-align: center;
}

.nav-links {
  margin-left: auto;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  font-size: 14px;
}

.feedback {
  margin-left: 2.6875rem;
}

.booking {
  margin-left: 3.5rem;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.content1, .content2 {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  margin-bottom: 20px; 
  flex-wrap: wrap;
}

.text-content {
  flex: 1 1 60%;
  padding: 0 20px 0 0;
}

.image {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 20px;
}

.image img {
  width: 100%; 
  max-width: 50%; 
  height: auto; 
}


button {
  margin-top: 4.8125rem;
  height: 8rem;
  width: 30.5rem;
  background-color: var(--secondary-button);
  text-align: center;
  color: var(--text);
  font-size: 3rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 3.2rem 0.875rem #8F155E;

  width: 25%;
  background-color: var(--secondary-button);
  color: var(--text);
  text-align: center;
  border-radius: 6px;
}
button:hover {
  cursor: pointer;
}



.content1 h1 {
  color: #ffffff;
}
.content1 h2 {
  color: #ffffff;
}
.content1 p {
  color: #ffffff;
}
.content2 h1 {
  color: #ffffff;
}
.content2 h2 {
  color: #ffffff;
}
.content2 p {
  color: #ffffff;
}

.content3 h2 {
  color: floralwhite
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  padding: 20px; 
}

.card {
  border: none;
  background-color: #E595C5;
  border-radius: 8px;
  padding: 20px; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}


